    <sislab-menu></sislab-menu>
    <sislab-banner></sislab-banner>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 main item-themed-z2">
          <div class="view-container">

<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Informes</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button type="submit" class="btn btn-primary"
      value="Nuevo Informe" title="Nuevo Informe"
      data-ng-click="studies.addStudy()"
      >
      <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
      Nuevo Informe
    </button>
    <br>
  </div>
</div>
<form class="form" role="form"
  name="studiesForm"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12">
      <h4>Búsqueda</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <label for="studySearch" class="sr-only">
        Ingrese una búsqueda (Cliente, Contacto, etc.)
      </label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="glyphicon glyphicon-search"></i>
        </div>
        <input type="text"
          class="form-control"
          placeholder="Ingrese una búsqueda (Cliente, Contacto, etc.)"
          id="studySearch"
          name="studySearch"
          data-ng-model="studies.filter.$">
      </div>
      <br>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Informes</h3>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-condensed"
          id="studiesList">
          <thead>
            <tr>
              <th>Id Informe</th>
              <th>Status</th>
              <th>Cliente</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr
              data-ng-repeat="item in studies.studies
              | filter:studies.filter.$"
              id="quoteId{{item.id_estudio}}"
              >
              <td>
                {{item.id_estudio}}
              </td>
              <td>
                <span class="label label-success"
                  data-ng-show="item.id_status == 2">Validado</span>
                <span class="label label-default"
                  data-ng-show="item.id_status < 2">Sin Validar</span>
              </td>
              <td>
                {{item.cliente.cliente}}
                <span class="text-muted"
                  data-ng-show="item.cliente.area.length > 0">
                  {{item.cliente.area}}
                </span>
                <span class="label label-default"
                  data-ng-show="item.cliente.interno < 1">Externo</span>
                <br>
                {{item.cliente.contacto}}
              </td>
              <td>
                <a class="btn btn-default"
                  value="Consultar" title="Consultar"
                  data-ng-click="studies.viewStudy(item.id_estudio)"
                  >
                  <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

          </div>
          <sislab-footer></sislab-footer>
        </div><!-- view-container -->
      </div><!-- row -->
    </div><!-- container -->
    <sislab-banner-bottom></sislab-banner-bottom>
