<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>SISLAB</title>
  <link rel="icon" type="image/png" href="img/favicon.png"/>
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
  <link rel="stylesheet" href="css/bootstrap.material-red.css">
  <link rel="stylesheet" href="css/sislab.css">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body data-ng-app="sislabApp">
  <div data-ng-controller="SheetController as sheet">
    <div class="row">
      <div class="col-xs-12">
        <h4>Datos por punto muestreo</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
        <label for="pointSelect">
          Punto muestreo
        </label>
        <select class="form-control"
          id="pointSelect"
          name="pointSelect"
          required
          data-ng-model="fieldSheeet.id_punto"
          data-ng-change="sheet.selectPoint()"
          >
          <option
            data-ng-repeat="point in sheet.points"
            value="{{point.id_punto}}">
            {{point.punto}}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="well well-sm">
          Punto: {{sheet.sheet.punto.punto}}
          <br>
          Localidad: {{sheet.sheet.punto.localidad}}
          Municipio: {{sheet.sheet.punto.municipio}}
          <br>
          Latitud: {{sheet.sheet.punto.lat}}
          Longitud: {{sheet.sheet.punto.lng}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Resultados Campo</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
        data-ng-repeat="fieldParameter in sheet.fieldParameters">
        <label for="fieldParameter{{fieldParameter.id_parametro}}">
          {{fieldParameter.parametro}}
        </label>
        <input type="text"
          class="form-control"
          placeholder="Ingrese un valor"
          id="fieldParameter{{fieldParameter.id_parametro}}"
          name="fieldParameter{{fieldParameter.id_parametro}}"
          data-ng-model="fieldParameter.valor"
          >
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Preservación</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6"
        data-ng-repeat="preservation in sheet.preservations">
        <label>
          <input type="checkbox"
            value="{{preservation.selected}}">
            {{preservation.preservacion}}
        </label>
      </div>
    </div>
  </div>
  <script src="js/jquery/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/angular/angular.min.js"></script>
  <script src="js/angular-locale/angular-locale_es-mx.js"></script>
  <script src="js/angular-strap/angular-strap.min.js"></script>
  <script src="js/angular-strap/angular-strap.tpl.min.js"></script>
  <script src="js/angular-route/angular-route.min.js"></script>
  <script src="js/angular-resource/angular-resource.min.js"></script>
  <script src="js/angular-animate/angular-animate.min.js"></script>
  <script src="js/angular-jwt/angular-jwt.min.js"></script>

  <script src="js/test.js"></script>
</body>
</html>