    <sislab-menu></sislab-menu>
    <sislab-banner></sislab-banner>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 main item-themed-z2">
          <div class="view-container">

<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Muestra</h2>
  </div>
</div>
<form class="form" role="form"
  name="jobForm"
  data-ng-submit="sample.submitSampleForm()"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12">
      <ul>
        <li><strong>id_estudio:</strong> {{::sample.sample.id_estudio}}</li>
        <li><strong>id_cliente:</strong> {{::sample.sample.id_cliente}}</li>
        <li><strong>id_orden:</strong> {{::sample.sample.id_orden}}</li>
        <li><strong>id_plan:</strong> {{::sample.sample.id_plan}}</li>
        <li><strong>id_hoja:</strong> {{::sample.sample.id_hoja}}</li>
        <li><strong>id_recepcion:</strong> {{::sample.sample.id_recepcion}}</li>
        <li><strong>id_custodia:</strong> {{::sample.sample.id_custodia}}</li>
        <li><strong>id_paquete:</strong> {{::sample.sample.id_paquete}}</li>
        <li><strong>id_ubicacion:</strong> {{::sample.sample.id_ubicacion}}</li>
        <li><strong>id_punto:</strong> {{::sample.sample.id_punto}}</li>
        <li><strong>id_tipo_muestreo:</strong> {{::sample.sample.id_tipo_muestreo}}</li>
        <li><strong>fecha_muestreo:</strong> {{::sample.sample.fecha_muestreo}}</li>
        <li><strong>fecha_recibe:</strong> {{::sample.sample.fecha_recibe}}</li>
        <li><strong>comentarios:</strong> {{::sample.sample.comentarios}}</li>
        <li><strong>activo:</strong> {{::sample.sample.activo}}</li>
      </ul>
    </div>
  </div>
</form>

          </div>
          <sislab-footer></sislab-footer>
        </div><!-- view-container -->
      </div><!-- row -->
    </div><!-- container -->
    <sislab-banner-bottom></sislab-banner-bottom>
