    <siclab-menu></siclab-menu>
    <siclab-banner></siclab-banner>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 main item-themed-z2">
          <div class="view-container">

<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Órdenes de muestreo</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button type="submit" class="btn btn-primary"
      value="Nueva" title="Nueva"
      data-ng-click="orders.addOrder()"
      >
      <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
      Nueva Orden
    </button>
    <br>
  </div>
</div>
<form class="form" role="form"
  name="clientsForm"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12">
      <h4>Búsqueda</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <label for="orderSearch" class="sr-only">
        Ingrese una búsqueda (Cliente, Contacto, etc.)
      </label>
      <input type="text"
        class="form-control"
        placeholder="Ingrese una búsqueda (Cliente, Contacto, etc.)"
        id="orderSearch"
        name="orderSearch"
        data-ng-model="orders.filter.$">
      <br>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Órdenes</h3>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-condensed"
          id="ordersList">
          <thead>
            <tr>
              <th>Id Orden</th>
              <th>Status</th>
              <th>Cliente</th>
              <th>Plan</th>
            </tr>
          </thead>
          <tbody>
            <tr
              data-ng-repeat="item in orders.orders
              | filter:orders.filter.$"
              id="orderId{{item.id_orden}}"
              data-ng-click="orders.selectRow($event)">
              <td>
                {{item.id_orden}}
              </td>
              <td>
                <span class="label label-info"
                  data-ng-show="item.validado > 0">Validada</span>
                <span class="label label-default"
                  data-ng-show="item.validado < 1">Sin Validar</span>
              </td>
              <td>
                {{item.cliente.cliente}}
                <span class="text-muted"
                  data-ng-show="item.cliente.area.length > 0">
                  {{item.cliente.area}}
                </span>
                <span class="label label-default"
                  data-ng-show="item.cliente.interno < 1">Externo</span>
                <br>
                {{item.cliente.contacto}}
              </td>
              <td>
                <span class="text-muted"
                  data-ng-show="item.id_plan < 1">
                  Sin plan
                </span>
                <span class="label label-default"
                  data-ng-show="item.id_plan > 0">
                  {{item.id_plan}}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

          </div>
          <siclab-footer></siclab-footer>
        </div><!-- view-container -->
      </div><!-- row -->
    </div><!-- container -->
    <siclab-banner-bottom></siclab-banner-bottom>
