    <sislab-menu></sislab-menu>
    <sislab-banner></sislab-banner>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 main item-themed-z2">
          <div class="view-container">

<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Orden de muestreo</h2>
  </div>
</div>
<form class="form" role="form"
  name="orderForm"
  data-ng-submit="order.submitOrderForm()"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12" bs-collapse>
      <h4 bs-collapse-toggle>
        <a class="btn btn-default">
          <!--
          <i class="glyphicon glyphicon-chevron-up"
            aria-hidden="true"></i>
          -->
          <i class="glyphicon glyphicon-chevron-down"
            aria-hidden="true"></i>
        </a>
        Datos de Referencia
      </h4>
      <div class="well wel-sm item-z1" bs-collapse-target>
        <ul class="list-inline">
          <li>
            Folio:
            {{order.order.folio}}
            /
            {{order.order.ejercicio}}
          </li>
          <li data-ng-show="order.order.fecha_orden.length > 0">
            Fecha:
            {{order.order.fecha_orden}}
          </li>
          <li data-ng-show="order.order.fecha_valida.length > 0">
            Fecha validación:
            {{order.order.fecha_valida}}
          </li>
          <li data-ng-show="order.order.fecha_acepta.length > 0">
            Fecha aceptación:
            {{order.order.fecha_acepta}}
          </li>
          <li data-ng-show="order.order.fecha_actualizacion.length > 0">
            Fecha actualización:
            {{order.order.fecha_actualizacion}}
          </li>
        </ul>
        <span class="label label-info"
          data-ng-show="order.order.validado > 0">Validada</span>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <h5>Solicitud</h5>
            Folio:
            {{order.order.solicitud.folio}}
            /
            {{order.order.solicitud.ejercicio}}
            <br>Fecha:
            {{order.order.solicitud.fecha_captura}}
          </div>
          <div class="col-xs-12 col-sm-6">
            <h5>Cliente</h5>
            Cliente:
            {{order.order.cliente.cliente}}
            {{order.order.cliente.area.length > 0 &&
            ' - ' + order.order.cliente.area ||
            ''}}
            <br>
            Contacto:
            {{order.order.cliente.contacto}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Medio de Solicitud de Muestreo</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="orderSourceSelect" class="sr-only">
        Medio de Solicitud
      </label>
      <select class="form-control"
        id="orderSourceSelect"
        name="orderSourceSelect"
        required
        data-ng-model="order.order.id_origen_orden"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option data-ng-repeat="orderSource in order.orderSources"
          value="{{orderSource.id_origen_orden}}">
          {{orderSource.origen_orden}}
        </option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
      <label class="sr-only" for="emergencyText">
        En caso de emergencia, especificar
      </label>
      <input type="text" class="form-control"
        id="emergencyText"
        name="emergencyText"
        placeholder="En caso de emergencia, especificar"
        data-ng-model="order.order.origen_otro"
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Matriz</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="matrixSelect" class="sr-only">
        Tipo de Matriz
      </label>
      <select class="form-control"
        id="matrixSelect"
        name="matrixSelect"
        required
        data-ng-model="order.order.id_matriz"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option data-ng-repeat="matrix in order.matrices"
          value="{{matrix.id_matriz}}">
          {{matrix.matriz}}
        </option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
      <label class="sr-only" for="matrixText">
        En caso de otra, especificar
      </label>
      <input type="text" class="form-control"
        id="matrixText"
        name="matrixText"
        placeholder="En caso de otra, especificar"
        data-ng-model="order.order.matriz_otra"
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" bs-collapse>
      <h4 bs-collapse-toggle>
        <a class="btn btn-default">
          <i class="glyphicon glyphicon-chevron-down"
            aria-hidden="true"></i>
        </a>
        Parámetros seleccionados
      </h4>
      <div class="well wel-sm item-z1" bs-collapse-target>
        <div class="row">
          <div class="col-xs-12 col-sm-6"
            data-ng-repeat="parameter in order.order.parametros">
            <div class="row">
              <div class="col-xs-6">
                {{parameter.parametro}}
                <br>
                <small class="hidden-xs hidden-sm text-muted">
                  {{parameter.metodo}}
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Fecha y Hora probable de muestreo</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5">
      <label for="samplingDate">
        <i class="glyphicon glyphicon-calendar"></i>
        Fecha
      </label>
      <input type="text"
        class="form-control"
        placeholder="aaaa-mm-dd"
        id="samplingDate"
        name="samplingDate"
        required
        data-ng-model="order.order.fecha_muestreo"
        data-date-format="yyyy-MM-dd"
        data-date-type="number"
        data-min-date="01/01/2000"
        data-max-date="today"
        data-autoclose="1"
        bs-datepicker
        >
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5">
      <label for="samplingTime">
        <i class="glyphicon glyphicon-time"></i>
        Hora
      </label>
      <input type="text"
        class="form-control"
        placeholder="HH:mm"
        id="samplingTime"
        name="samplingTime"
        required
        data-ng-model="order.order.hora_muestreo"
        data-time-format="HH:mm"
        data-length="1"
        data-minute-step="1"
        data-arrow-behavior="picker"
        data-auto-close="1"
        bs-timepicker
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Asignar Responsable de Muestreo</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="supervisorSelect" class="sr-only">
        Responsable de muestreo
      </label>
      <select class="form-control"
        id="supervisorSelect"
        name="supervisorSelect"
        required
        data-ng-model="order.id_supervisor_muestreo"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option data-ng-repeat="supervisor in order.supervisors"
          value="{{supervisor.id_empleado}}">
          {{supervisor.nombres}}
          {{supervisor.ap}}
          {{supervisor.am}}
        </option>
      </select>
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary"
    value="Guardar" title="Guardar"
    data-ng-click="order.validateOrderForm()"
    >
    Guardar</button>
</form>

          </div>
          <sislab-footer></sislab-footer>
        </div><!-- view-container -->
      </div><!-- row -->
    </div><!-- container -->
    <sislab-banner-bottom></sislab-banner-bottom>
