<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Plan de muestreo</h2>
  </div>
</div>
<form class="form" role="form"
  name="orderForm"
  data-ng-submit="plan.submitOrderForm()"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12">
      <h4>Datos de Referencia</h4>
      <div class="well well-sm">
        <ul class="list-inline">
          <li>
            Folio:
            {{plan.plan.folio}}
            /
            {{plan.plan.ejercicio}}</li>
          <li data-ng-show="plan.fecha_plan.length > 0">
            Fecha actual:
            {{plan.plan.fecha_plan}}</li>
          <li data-ng-show="plan.fecha_captura.length > 0">
            Fecha captura:
            {{plan.plan.fecha_captura}}</li>
          <li data-ng-show="plan.fecha_valida.length > 0">
            Fecha validación:
            {{plan.plan.fecha_valida}}</li>
          <li data-ng-show="plan.fecha_actualizacion.length > 0">
            Fecha actualización:
            {{plan.plan.fecha_actualizacion}}</li>
        </ul>
        <span class="text-info"
          data-ng-show="plan.plan.validado > 0">Validada</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="well well-sm">
        <h6>Orden de muestreo</h6>
        Folio:
        {{plan.plan.orden_muestreo.folio}}
        /
        {{plan.plan.orden_muestreo.ejercicio}}
        <br>Fecha:
        {{plan.plan.orden_muestreo.fecha_captura}}
        <br>Matriz:
        {{plan.plan.matriz.matriz}}
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="well well-sm">
        <h6>Cliente</h6>
        Cliente:
        {{plan.plan.cliente.cliente}}
        {{plan.plan.cliente.area}}
        <br>
        Contacto:
          {{plan.plan.cliente.contacto}}
        <br>
        Teléfono:
          {{plan.plan.cliente.tel}}
        <br>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Objetivo</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="objectiveSelect" class="sr-only">
        Objetivo de muestreo
      </label>
      <select class="form-control"
        id="objectiveSelect"
        name="objectiveSelect"
        required
        data-ng-model="plan.plan.id_objetivo_plan"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option data-ng-repeat="objective in plan.objectives"
          value="{{objective.id_objetivo_plan}}">
          {{objective.objetivo_plan}}
        </option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
      <label class="sr-only" for="objectiveText">
        En caso de otro, especificar
      </label>
      <input type="text" class="form-control"
        id="objectiveText"
        name="objectiveText"
        placeholder="En caso de otro, especificar"
        data-ng-model="plan.plan.objetivo_otro"
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Ubicación</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <label for="calleText">
        Calle
      </label>
      <input type="text" class="form-control"
        id="calleText"
        name="calleText"
        placeholder="Calle"
        data-ng-model="plan.plan.calle"
        >
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <label for="numeroText">
        Número exterior
      </label>
      <input type="text" class="form-control"
        id="numeroText"
        name="numeroText"
        placeholder="Número exterior"
        data-ng-model="plan.plan.numero"
        >
    </div>
    <div class="col-xs-12 col-sm-8">
      <label for="coloniaText">
        Colonia
      </label>
      <input type="text" class="form-control"
        id="coloniaText"
        name="coloniaText"
        placeholder="Colonia"
        data-ng-model="plan.plan.colonia"
        >
    </div>
    <div class="col-xs-12 col-sm-8 col-md-7">
      <label for="districtSelect">
        Municipio
      </label>
      <select class="form-control"
        id="districtSelect"
        name="districtSelect"
        required
        data-ng-model="plan.plan.id_municipio"
        data-ng-change="plan.plan.selectDistrict()"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option data-ng-repeat="district in plan.districts"
          value="{{district.id_municipio}}">
          {{district.municipio}}
        </option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-7">
      <label for="citySelect">
        Localidad
      </label>
      <select class="form-control"
        id="citySelect"
        name="citySelect"
        required
        data-ng-model="plan.plan.id_localidad"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option data-ng-repeat="city in plan.cities"
          value="{{city.id_localidad}}">
          {{city.localidad}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Puntos de muestreo</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-default" type="button"
        id="addPointsButton"
        name="addPointsButton"
        data-ng-click="plan.addPoints()"
        >
        Agregar puntos de muestreo</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Cantidad de puntos:
      <strong>
      {{plan.plan.puntos_muestreo.length}}
      </strong>
      <br>
      <br>
    </div>
  </div>
  <div class="row"
    data-ng-repeat="point in plan.plan.puntos_muestreo">
    <div class="col-xs-12 col-sm-4">
      <strong>{{point.punto_muestreo}}</strong>
    </div>
    <div class="col-xs-12 col-sm-4">
      <label>Tipo de muestreo</label>
      <div class="radio">
        <label>
          <input type="radio"
            name="samplingTypeRadios{{point.id_punto_muestreo}}"
            data-ng-model="point.id_tipo_muestreo"
            value="1"
            >
            Simple
        </label>
        <label>
          <input type="radio"
            name="samplingTypeRadios{{point.id_punto_muestreo}}"
            data-ng-model="point.id_tipo_muestreo"
            value="2"
            >
            Compuesto
        </label>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <label for="samplingFrequency{{point.id_punto_muestreo}}">
        Frecuencia (horas)
      </label>
      <select class="form-control"
        id="samplingFrequency{{point.id_punto_muestreo}}"
        name="samplingFrequency{{point.id_punto_muestreo}}"
        data-ng-disabled="point.id_tipo_muestreo < 2"
        data-ng-model="point.frecuencia"
        >
        <option value="0">
          0
        </option>
        <option value="2">
          2
        </option>
        <option value="4">
          4
        </option>
        <option value="6">
          6
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Responsables</h4>
    </div>
  </div>
  <div class="row"
    data-ng-show="plan.plan.orden_muestreo.supervisor_muestreo"
    >
    <div class="col-xs-12">
      <h5>Responsable muestreo <small>(Orden de muestreo)</small></h5>
      {{plan.plan.orden_muestreo.supervisor_muestreo.nombres}}
      {{plan.plan.orden_muestreo.supervisor_muestreo.ap}}
      {{plan.plan.orden_muestreo.supervisor_muestreo.am}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Muestreo y entrega</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
      <label for="samplingSupervisorSelect" class="sr-only">
        Responsable de muestreo y entrega
      </label>
      <select class="form-control"
        id="samplingSupervisorSelect"
        name="samplingSupervisorSelect"
        required
        data-ng-model="plan.plan.id_supervisor_muestreo"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option
          data-ng-repeat="samplingSupervisor in plan.plan.samplingSupervisors"
          value="{{samplingSupervisor.id_empleado}}">
          {{samplingSupervisor.supervisor_muestreo}}
        </option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="samplingSupervisorCompanion" class="sr-only">
        Acompañante muestreo y entrega
      </label>
      <input type="text" class="form-control"
        id="samplingSupervisorCompanion"
        name="samplingSupervisorCompanion"
        placeholder="Acompañante muestreo y entrega"
        data-ng-model="plan.plan.asistente_muestreo"
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Recolección</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
      <label for="collectingSupervisorSelect" class="sr-only">
        Responsable de recolección
      </label>
      <select class="form-control"
        id="collectingSupervisorSelect"
        name="collectingSupervisorSelect"
        required
        data-ng-model="plan.plan.id_supervisor_recoleccion"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option
          data-ng-repeat="collectingSupervisor in plan.plan.collectingSupervisors"
          value="{{collectingSupervisor.id_empleado}}">
          {{collectingSupervisor.supervisor_recoleccion}}
        </option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="collectingSupervisorCompanion" class="sr-only">
        Acompañante recolección
      </label>
      <input type="text" class="form-control"
        id="collectingSupervisorCompanion"
        name="collectingSupervisorCompanion"
        placeholder="Acompañante recolección"
        data-ng-model="plan.plan.asistente_recoleccion"
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Registro resultados</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
      <label for="loggingSupervisorSelect" class="sr-only">
        Responsable de registro
      </label>
      <select class="form-control"
        id="loggingSupervisorSelect"
        name="loggingSupervisorSelect"
        required
        data-ng-model="plan.plan.id_supervisor_registro"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option
          data-ng-repeat="loggingSupervisor in plan.plan.loggingSupervisors"
          value="{{loggingSupervisor.id_empleado}}">
          {{loggingSupervisor.supervisor_registro}}
        </option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="loggingSupervisorCompanion" class="sr-only">
        Acompañante registro
      </label>
      <input type="text" class="form-control"
        id="loggingSupervisorCompanion"
        name="loggingSupervisorCompanion"
        placeholder="Acompañante registro"
        data-ng-model="plan.plan.asistente_registro"
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Asignación de Actividades</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Calibración y verificación de equipo</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
      <label for="calibratorSelect" class="sr-only">
        Encargado de calibración
      </label>
      <select class="form-control"
        id="calibratorSelect"
        name="calibratorSelect"
        required
        data-ng-model="plan.plan.id_supervisor_calibracion"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option
          data-ng-repeat="calibrator in plan.plan.calibrators"
          value="{{calibrator.id_empleado}}">
          {{calibrator.supervisor_calibracion}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <label for="calibrationDate">
        Fecha de calibración
      </label>
      <input type="text" class="form-control"
        id="calibrationDate"
        name="calibrationDate"
        placeholder="aaaa-mm-dd"
        data-ng-model="plan.plan.fecha_calibracion"
        >
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-default" type="button"
        id="addEquipmentButton"
        name="addEquipmentButton"
        data-ng-click="plan.addEquipment()"
        >
        Agregar Equipo</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4"
      data-ng-repeat="equipment in plan.equipments">
      Equipo:
      {{equipment.descripcion}}
      <br>
      Inventario:
      {{equipment.inventario}}
      Bitácora:
      {{equipment.bitacora}}
      Folio:
      {{equipment.folio}}
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Preparación de recipientes</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
      <label for="preparationSupervisorSelect" class="sr-only">
        Encargado de preparación
      </label>
      <select class="form-control"
        id="preparationSupervisorSelect"
        name="preparationSupervisorSelect"
        required
        data-ng-model="plan.id_supervisor_recipientes"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option
          data-ng-repeat="preparationSupervisor in plan.preparationSupervisors"
          value="{{preparationSupervisor.id_supervisor_recipientes}}">
          {{preparationSupervisor.supervisor_recipientes}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Recipientes</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6"
      data-ng-repeat="container in plan.containers">
      <div class="row">
        <div class="col-xs-7">
          <label>
            <input type="checkbox"
              value="{{container.selected}}">
              {{container.preservacion}}
          </label>
        </div>
        <div class="col-xs-5">
          <label
            for="containerQuantity{{container.id_preservacion}}"
            >Cantidad
          </label>
          <input type="text"
            class="form-control"
            placeholder="0"
            id="containerQuantity{{container.id_preservacion}}"
            name="containerQuantity{{container.id_preservacion}}"
            data-ng-model="container.cantidad"
            >
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Reactivos y soluciones</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
      <label for="reactiveSupervisorSelect" class="sr-only">
        Encargado de reactivos
      </label>
      <select class="form-control"
        id="reactiveSupervisorSelect"
        name="reactiveSupervisorSelect"
        required
        data-ng-model="plan.id_supervisor_reactivos"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option
          data-ng-repeat="reactiveSupervisor in plan.reactiveSupervisors"
          value="{{reactiveSupervisor.id_supervisor_reactivos}}">
          {{reactiveSupervisor.supervisor_reactivos}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6"
      data-ng-repeat="reactive in plan.reactives">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <label
            for="reactiveSelect{{reactive.id_reactivo}}"
            >
            {{reactive.reactivo}}
            <input type="checkbox"
              id="reactiveSelect{{reactive.id_reactivo}}"
              name="reactiveSelect{{reactive.id_reactivo}}"
              value="{{reactive.selected}}">
          </label>
        </div>
        <div class="col-xs-12 col-sm-4">
          <label
            for="reactiveQuantity{{reactive.id_reactivo}}"
            >
            Cantidad
          </label>
          <input type="text"
            class="form-control"
            placeholder="0"
            id="reactiveQuantity{{reactive.id_reactivo}}"
            name="reactiveQuantity{{reactive.id_reactivo}}"
            data-ng-model="reactive.cantidad"
            >
        </div>
        <div class="col-xs-12 col-sm-4">
          <label
            for="reactiveLot{{reactive.id_reactivo}}"
            >
            Lote
          </label>
          <input type="text"
            class="form-control"
            placeholder="Lote"
            id="reactiveLot{{reactive.id_reactivo}}"
            name="reactiveLot{{reactive.id_reactivo}}"
            data-ng-model="reactive.lote"
            >
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Preparación de material y equipo</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
      <label for="materialsSupervisorSelect" class="sr-only">
        Encargado de preparación
      </label>
      <select class="form-control"
        id="materialsSupervisorSelect"
        name="materialsSupervisorSelect"
        required
        data-ng-model="plan.plan.id_supervisor_material"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option
          data-ng-repeat="materialsSupervisor in plan.materialsSupervisors"
          value="{{materialsSupervisor.id_supervisor_material}}">
          {{materialsSupervisor.supervisor_materiales}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
      data-ng-repeat="material in plan.materials"
      >
      <label>
        <input type="checkbox"
          value="{{material.selected}}">
          {{material.material}}
      </label>
    </div>
        <input type="checkbox"
          value="{{plan.materials[2].selected}}">
          Hoja de campo
      </label>
    </div>
        <input type="checkbox"
          value="{{plan.materials[3].selected}}">
          Bitácora
      </label>
    </div>
        <input type="checkbox"
          value="{{plan.materials[4].selected}}">
          Disco Sechi
      </label>
    </div>
        <input type="checkbox"
          value="{{plan.materials[5].selected}}">
          Draga
      </label>
    </div>
        <input type="checkbox"
          value="{{plan.materials[6].selected}}">
          Tamiz
      </label>
    </div>
        <input type="checkbox"
          value="{{plan.materials[7].selected}}">
          Termómetro
      </label>
    </div>
        <input type="checkbox"
          value="{{plan.materials[8].selected}}">
          Geoposicionador
      </label>
    </div>
        <input type="checkbox"
          value="{{plan.materials[9].selected}}">
          Tiras reactivas pH
      </label>
    </div>
        <input type="checkbox"
          value="{{plan.materials[10].selected}}">
          Pipetas Pasteur
      </label>
    </div>
        <input type="checkbox"
          value="{{plan.materials[11].selected}}">
          Termo
      </label>
    </div>
        <input type="checkbox"
          value="{{plan.materials[12].selected}}">
          Cubeta
      </label>
    </div>
        <input type="checkbox"
          value="{{plan.materials[13].selected}}">
          Marcadores
      </label>
    </div>
        <input type="checkbox"
          value="{{plan.materials[14].selected}}">
          Papel secante
      </label>
    </div>
        <input type="checkbox"
          value="{{plan.materials[15].selected}}">
          Pisetas
      </label>
    </div>
        <input type="checkbox"
          value="{{plan.materials[16].selected}}">
          Camara
      </label>
    </div>
        <input type="checkbox"
          value="{{plan.materials[17].selected}}">
          Guantes
      </label>
    </div>
        <input type="checkbox"
          value="{{plan.materials[18].selected}}">
          Lentes de Protección
      </label>
    </div>
        <input type="checkbox"
          value="{{plan.materials[19].selected}}">
          Chaleco salvavidas
      </label>
    </div>
        <input type="checkbox"
          value="{{plan.materials[20].selected}}">
          Arnés
      </label>
    </div>
        <input type="checkbox"
          value="{{plan.materials[21].selected}}">
          Cuerdas
      </label>
    </div>
        <input type="checkbox"
          value="{{plan.materials[22].selected}}">
          Cubre bocas
      </label>
    </div>
        <input type="checkbox"
          value="{{plan.materials[23].selected}}">
          Casco
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Hieleras</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
      <label for="preservatorSelect" class="sr-only">
        Encargado de hieleras
      </label>
      <select class="form-control"
        id="preservatorSelect"
        name="preservatorSelect"
        required
        data-ng-model="plan.plan.id_supervisor_hieleras"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option
          data-ng-repeat="preservator in plan.plan.preservators"
          value="{{preservator.id_supervisor_hieleras}}">
          {{preservator.supervisor_hieleras}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <label>
        <input type="checkbox"
          value="{{plan.coolers[1].selected">
          Hielera 1
      </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <label>
        <input type="checkbox"
          value="{{plan.coolers[2].selected">
          Hielera 2
      </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <label>
        <input type="checkbox"
          value="{{plan.coolers[3].selected">
          Hielera 3
      </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <label>
        <input type="checkbox"
          value="{{plan.coolers[4].selected">
          Hielera 4
      </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <label>
        <input type="checkbox"
          value="{{plan.coolers[5].selected">
          Hielera 5
      </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <label>
        <input type="checkbox"
          value="{{plan.coolers[6].selected">
          Hielera 6
      </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <label>
        <input type="checkbox"
          value="{{plan.coolers[7].selected">
          Hielera 7
      </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <label>
        <input type="checkbox"
          value="{{plan.coolers[8].selected">
          Hielera 8
      </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <label>
        <input type="checkbox"
          value="{{plan.coolers[9].selected">
          Hielera 9
      </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <label>
        <input type="checkbox"
          value="{{plan.coolers[10].selected">
          Hielera 10
      </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <label>
        <input type="checkbox"
          value="{{plan.coolers[11].selected">
          Hielera 11
      </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <label>
        <input type="checkbox"
          value="{{plan.coolers[12].selected">
          Hielera 12
      </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <label>
        <input type="checkbox"
          value="{{plan.coolers[13].selected">
          Hielera 13
      </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <label>
        <input type="checkbox"
          value="{{plan.coolers[14].selected">
          Hielera 14
      </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <label>
        <input type="checkbox"
          value="{{plan.coolers[15].selected">
          Hielera 15
      </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <label>
        <input type="checkbox"
          value="{{plan.coolers[16].selected">
          Hielera 16
      </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <label>
        <input type="checkbox"
          value="{{plan.coolers[17].selected">
          Hielera 17
      </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <label>
        <input type="checkbox"
          value="{{plan.coolers[18].selected">
          Hielera 18
      </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <label>
        <input type="checkbox"
          value="{{plan.coolers[19].selected">
          Hielera 19
      </label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <label>
        <input type="checkbox"
          value="{{plan.coolers[">].selected H
          elera 20
      </label>
    </div>
    <div class="col-xs-12">
      Cantidad de hieleras:
      <strong>
      {{plan.coolers.length}}
      </strong>
    </div>
  </div>


  <br>
  <button type="submit" class="btn btn-primary"
    value="Guardar" title="Guardar"
    data-ng-click="plan.validatePlanForm()"
    >
    Guardar</button>
</form>