<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Hoja de campo</h2>
  </div>
</div>
<form class="form" role="form"
  name="receptionForm"
  data-ng-submit="fieldSheet.submitReceptionForm()"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12">
      <h4>Datos de Referencia</h4>
      <div class="well well-sm">
        <ul class="list-inline">
          <li>
            Folio:
            {{fieldSheet.fieldSheet.folio}}
            /
            {{fieldSheet.fieldSheet.ejercicio}}</li>
          <li data-ng-show="fieldSheet.fieldSheet.fecha_captura.length > 0">
            Fecha captura:
            {{fieldSheet.fieldSheet.fecha_captura}}</li>
          <li data-ng-show="fieldSheet.fieldSheet.fecha_valida.length > 0">
            Fecha validación:
            {{fieldSheet.fieldSheet.fecha_valida}}</li>
          <li data-ng-show="fieldSheet.fieldSheet.fecha_actualizacion.length > 0">
            Fecha actualización:
            {{fieldSheet.fieldSheet.fecha_actualizacion}}</li>
        </ul>
        <span class="label label-success"
          data-ng-show="fieldSheet.fieldSheet.validado > 0">Validado</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h4>Cliente</h4>
      <div class="well well-sm">
        Cliente: {{fieldSheet.fieldSheet.cliente.cliente}}
        {{fieldSheet.fieldSheet.cliente.area.length > 0 &&
        ' - ' + fieldSheet.fieldSheet.cliente.area ||
        ''}}
        <br>
        Contacto: {{fieldSheet.fieldSheet.cliente.contacto}}
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h4>Orden de muestreo</h4>
      <div class="well well-sm">
        Folio:
        {{fieldSheet.fieldSheet.orden_muestreo.folio}}
        /
        {{fieldSheet.fieldSheet.orden_muestreo.ejercicio}}
        <br>Fecha:
        {{fieldSheet.fieldSheet.orden_muestreo.fecha_orden}}
        <br>Responsable muestreo:
        {{fieldSheet.fieldSheet.orden_muestreo.responsable_muestreo.nombres}}
        {{fieldSheet.fieldSheet.orden_muestreo.responsable_muestreo.ap}}
        {{fieldSheet.fieldSheet.orden_muestreo.responsable_muestreo.am}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Punto de muestreo</h4>
      <div class="well well-sm">
        Punto: {{fieldSheet.fieldSheet.punto_muestreo.punto_muestreo}}
        <br>
        Localidad: {{fieldSheet.fieldSheet.punto_muestreo.localidad}}
        Municipio: {{fieldSheet.fieldSheet.punto_muestreo.municipio}}
        <br>
        Latitud: {{fieldSheet.fieldSheet.punto_muestreo.lat}}
        Longitud: {{fieldSheet.fieldSheet.punto_muestreo.lng}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Condiciones ambientales</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="cloudCoverSelect">
        Cobertura de nubes
      </label>
      <select class="form-control"
        id="cloudCoverSelect"
        name="cloudCoverSelect"
        required
        data-ng-model="fieldSheet.fieldSheet.id_cobertura_nubes"
        data-ng-change="fieldSheet.selectCloudCover()"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option data-ng-repeat="cloudCover in fieldSheet.cloudCovers"
          value="{{cloudCover.id_cobertura_nubes}}">
          {{cloudCover.cobertura_nubes}}
        </option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
      <label class="sr-only" for="cloudCoverText">
        En caso de otra, especificar
      </label>
      <input type="text" class="form-control"
        id="cloudCoverText"
        name="cloudCoverText"
        placeholder="En caso de otra, especificar"
        data-ng-model="fieldSheet.fieldSheet.cobertura_nubes_otra"
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="windDirectionSelect">
        Dirección del viento
      </label>
      <select class="form-control"
        id="windDirectionSelect"
        name="windDirectionSelect"
        required
        data-ng-model="fieldSheet.fieldSheet.id_direccion_viento"
        data-ng-change="fieldSheet.selectWindDirection()"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option data-ng-repeat="windDirection in fieldSheet.windDirections"
          value="{{windDirection.id_direccion_viento}}">
          {{windDirection.direccion_viento}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="waveIntensitySelect">
        Intensidad del oleaje
      </label>
      <select class="form-control"
        id="waveIntensitySelect"
        name="waveIntensitySelect"
        required
        data-ng-model="fieldSheet.fieldSheet.id_oleaje"
        data-ng-change="fieldSheet.selectWaveIntensity()"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option data-ng-repeat="waveIntensity in fieldSheet.waveIntensities"
          value="{{waveIntensity.id_direccion_viento}}">
          {{waveIntensity.direccion_viento}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Referencia del muestreo</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="samplingNormSelect">
        Norma referencia muestreo
      </label>
      <select class="form-control"
        id="samplingNormSelect"
        name="samplingNormSelect"
        required
        data-ng-model="fieldSheet.fieldSheet.id_norma_muestreo"
        data-ng-change="fieldSheet.selectSamplingNorm()"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option data-ng-repeat="samplingNorm in fieldSheet.normas_muestreo"
          value="{{samplingNorm.id_norma_muestreo}}">
          {{samplingNorm.norma_muestreo}}
        </option>
      </select>
    </div>
  </div>






  <div class="row">
    <div class="col-xs-12">
      <h4>Resultados Campo</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="param1">Color</label>
      <input type="text"
        class="form-control"
        placeholder="color"
        id="param1"
        name="param1"
        required
        data-ng-model="fieldSheet.fieldSheet.parametros_campo.color"
        >
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="param1">Olor</label>
      <input type="text"
        class="form-control"
        placeholder="olor"
        id="param1"
        name="param1"
        required
        data-ng-model="fieldSheet.fieldSheet.parametros_campo.olor"
        >
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="param1">Gasto</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="param1"
        name="param1"
        required
        data-ng-model="fieldSheet.fieldSheet.parametros_campo.gasto"
        >
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="param1">Profundidad</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="param1"
        name="param1"
        required
        data-ng-model="fieldSheet.fieldSheet.parametros_campo.profundidad"
        >
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="param1">Olor</label>
      <input type="text"
        class="form-control"
        placeholder="olor"
        id="param1"
        name="param1"
        required
        data-ng-model="fieldSheet.fieldSheet.parametros_campo.olor"
        >
    </div>
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="param1">Temperatura ambiente</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="param1"
        name="param1"
        required
        data-ng-model="fieldSheet.fieldSheet.parametros_campo.temp_ambiente"
        >
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="param3">Temperatura</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="param3"
        name="param3"
        required
        data-ng-model="fieldSheet.fieldSheet.parametros_campo.temperatura"
        >
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="param2">Potencial de hidrógeno</label>
      <input type="text"
        class="form-control"
        placeholder="ph"
        id="param2"
        name="param2"
        required
        data-ng-model="fieldSheet.fieldSheet.parametros_campo.ph"
        >
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="param2">Conductividad</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="param2"
        name="param2"
        required
        data-ng-model="fieldSheet.fieldSheet.parametros_campo.conductividad"
        >
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="param4">Oxígeno disuelto</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="param4"
        name="param4"
        required
        data-ng-model="fieldSheet.fieldSheet.parametros_campo.oxigeno_disuelto"
        >
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="param5">Transparencia</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="param5"
        name="param5"
        required
        data-ng-model="fieldSheet.fieldSheet.parametros_campo.transparencia"
        >
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="param5">Cloro residual</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="param5"
        name="param5"
        required
        data-ng-model="fieldSheet.fieldSheet.parametros_campo.cloro_residual"
        >
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="param6">Materia flotante</label>
      <input type="text"
        class="form-control"
        placeholder="Materia flotante"
        id="param6"
        name="param6"
        required
        data-ng-model="fieldSheet.fieldSheet.parametros_campo.materia_flotante"
        >
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary"
    value="Guardar" title="Guardar"
    data-ng-click="fieldSheet.validateReceptionForm()"
    >
    Guardar</button>
</form>