    <sislab-menu></sislab-menu>
    <sislab-banner></sislab-banner>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 main item-themed-z2">
          <div class="view-container">

<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Cadena de Custodia interna</h2>
  </div>
</div>
<div class="toast">
  <div class="alert alert-danger item-z2" role="alert"
    data-ng-show="custody.custody.id_status == 3">
    <i class="glyphicon glyphicon-ban-circle"></i>
    Motivo rechazo:
    <strong>
      {custody.custody.motivo_rechaza}
      <span
        data-ng-show="custody.custody.fecha_rechaza.length > 0">
          ({custody.custody.fecha_rechaza | date: 'yyyy-MM-dd'})
      </span>
    </strong>
  </div>
</div>
<div class="toast-warning">
  <div class="alert alert-warning alert-dismissible item-z2" role="alert"
    data-ng-show="custody.message.length > 0">
    <button type="button" class="close" aria-label="Cerrar"
      data-ng-click="custody.message = ''">
      <span aria-hidden="true">&times;</span>
    </button>
    <i class="glyphicon glyphicon-warning-sign"></i>
    <strong>
      {custody.message}
    </strong>
  </div>
</div>
<form class="form" role="form"
  name="custodyForm"
  data-ng-submit="custody.submitCustodyForm()"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12">
      <h4>Datos generales</h4>
    </div>
    <div class="col-xs-12">
      Fecha muestreo: {custody.fecha_muestreo}
      <br>
      Id Orden Trabajo: {custody.id_trabajo}
      <br>
      Matriz: {custody.id_matriz}
      <br>
      Muestras: {custody.cantidads_muestras}
      <br>
      Contenedores: {custody.cantidads_recipientes}
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>Fecha / hora de muestreo</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <label for="startDate">
        <i class="glyphicon glyphicon-calendar"></i>
        Fecha
      </label>
      <input type="text"
        class="form-control"
        id="startDate"
        name="startDate"
        placeholder="aaaa-mm-dd"
        readonly
        data-ng-model="custody.custody.fecha_muestreo"
        data-date-format="yyyy-MM-dd"
        data-date-type="date"
        data-autoclose="1"
        date-use-native="true"
        data-bs-datepicker
        >
    </div>
    <div class="col-xs-6 col-sm-3">
      <label for="startTime">
        <i class="glyphicon glyphicon-time"></i>
        Hora
      </label>
      <input type="text"
        class="form-control"
        id="startTime"
        name="startTime"
        placeholder="HH:mm"
        readonly
        data-ng-model="custody.custody.fecha_muestreo"
        data-time-format="HH:mm"
        data-date-type="date"
        data-length="1"
        data-hour-step="1"
        data-minute-step="1"
        data-arrow-behavior="picker"
        data-auto-close="1"
        data-bs-timepicker
        >
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>Fecha / hora de recepción</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <label for="endDate">
        <i class="glyphicon glyphicon-calendar"></i>
        Fecha recepción
      </label>
      <input type="text"
        class="form-control"
        id="endDate"
        name="endDate"
        placeholder="aaaa-mm-dd"
        readonly
        data-ng-model="custody.custody.fecha_recepcion"
        data-date-format="yyyy-MM-dd"
        data-date-type="date"
        data-autoclose="1"
        date-use-native="true"
        data-bs-datepicker
        >
    </div>
    <div class="col-xs-6 col-sm-3">
      <label for="endTime">
        <i class="glyphicon glyphicon-time"></i>
        Hora recepción
      </label>
      <input type="text"
        class="form-control"
        id="endTime"
        name="endTime"
        placeholder="HH:mm"
        readonly
        data-ng-model="custody.custody.fecha_recepcion"
        data-time-format="HH:mm"
        data-date-type="date"
        data-length="1"
        data-hour-step="1"
        data-minute-step="1"
        data-arrow-behavior="picker"
        data-auto-close="1"
        data-bs-timepicker
        >
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Ubicación de las muestras</h3>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-condensed"
            id="containerStorageList">
            <thead>
              <tr>
                <th>
                  Id Muestra
                </th>
                <th>
                  Id Recipiente
                </th>
                <th>
                  Preservación
                </th>
                <th>
                  Ubicación
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                data-ng-repeat="container in custody.containers"
                id="jobId{container.id_recipiente}">
                <td>
                  {container.id_muestra}
                </td>
                <td>
                  {container.id_recipiente}
                </td>
                <td>
                  {container.preservacion}
                </td>
                <td>
                  if FIRST_WRITE
                  <br>
                  -- selectStorage --
                  -- ngRepeat storage in storages --
                  <br>
                  else
                  <br>
                  -- selectedStorage --
                  <span class="label label-info"
                    data-ng-show="container.id_almacenamiento < 4">
                    {container.almacenamiento}
                  </span>
                  <span class="label label-default"
                    data-ng-show="container.id_almacenamiento > 3">
                    {container.almacenamiento}
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Uso de las muestras</h3>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-condensed"
            id="sampleUseList">
            <thead>
              <tr>
                <th>
                  Id Muestra
                </th>
                <th>
                  Id Recipiente
                </th>
                <th>
                  Parámetro
                </th>
                <th>
                  Analista
                </th>
                <th>
                  Volumen
                </th>
                <th>
                  Fecha
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                data-ng-repeat="take in custody.takes"
                id="{take.id_uso}">
                <td>
                  {take.id_muestra}
                </td>
                <td>
                  {take.id_recipiente}
                </td>
                <td>
                  Param
                  {take.parametro.param}
                </td>
                <td>
                  Usr
                  {take.id_analista}
                  <br>
                  {take.analista.nombres}
                  <br>
                  {take.analista.apellido_paterno}
                  {take.analista.apellido_materno}
                </td>
                <td>
                  <input
                    type="text">
                    -- volumen --
                </td>
                <td>
                  {take.fecha | date: 'yyyy-MM-dd'}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <br>
      <a class="btn btn-success"
        value="Agregar entrada" title="Agregar entrada"
        data-ng-click="custody.addTake()"
        >
        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
        Agregar entrada
      </a>
      <br><br>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>Disposición Final</h4>
    </div>

  </div>

  <br>
  <button type="submit" class="btn btn-primary"
    value="Guardar" title="Guardar"
    data-ng-click="custody.validateCustodyForm()"
    >
    Guardar</button>
</form>

          </div>
          <sislab-footer></sislab-footer>
        </div><!-- view-container -->
      </div><!-- row -->
    </div><!-- container -->
    <sislab-banner-bottom></sislab-banner-bottom>
