    <sislab-menu></sislab-menu>
    <sislab-banner></sislab-banner>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 main item-themed-z2">
          <div class="view-container">

<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Cadena de custodia interna</h2>
  </div>
</div>
<div class="toast">
  <div class="alert alert-danger item-z2" role="alert"
    data-ng-show="custody.custody.id_status == 3">
    <i class="glyphicon glyphicon-ban-circle"></i>
    Motivo rechazo:
    <strong>
      {{custody.custody.motivo_rechaza}}
      <span
        data-ng-show="custody.custody.fecha_rechaza.length > 0">
          ({{custody.custody.fecha_rechaza | date: 'yyyy-MM-dd'}})
      </span>
    </strong>
  </div>
</div>
<div class="toast-warning">
  <div class="alert alert-warning alert-dismissible item-z2" role="alert"
    data-ng-show="custody.message.length > 0">
    <button type="button" class="close" aria-label="Cerrar"
      data-ng-click="custody.message = ''">
      <span aria-hidden="true">&times;</span>
    </button>
    <i class="glyphicon glyphicon-warning-sign"></i>
    <strong>
      {{custody.message}}
    </strong>
  </div>
</div>
<form class="form" role="form"
  name="custodyForm"
  data-ng-submit="custody.submitCustodyForm()"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12" data-bs-collapse>
      <h4 data-bs-collapse-toggle>
        <a class="btn btn-default">
          <i class="glyphicon glyphicon-chevron-down"
            aria-hidden="true"></i>
        </a>
        Datos de Referencia
      </h4>
      <div class="row well well-sm item-z1"
        data-bs-collapse-target
        >
        <div class="col-xs-12 col-sm-6">
          <h6>Informe</h6>
          <ul class="list-inline">
            <li>
              Id Informe:
              <strong>
                {{::custody.custody.id_estudio}}
              </strong>
            </li>
            <li>
              Fecha:
              <strong>
                {{::custody.custody.hoja.fecha | date: 'yyyy-MM-dd'}}
              </strong>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h6>Recepción</h6>
          <ul class="list-inline">
            <li>
              Id Recepción:
              <strong>
                {{::custody.custody.id_recepcion}}
              </strong>
            </li>
            <li>
              Fecha recepción:
              <strong>
                {{::custody.custody.recepcion.fecha_recibe | date: 'yyyy-MM-dd'}}
              </strong>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Custodia muestras</h4>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-xs-12">
      <h5>Subcontratación</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
      <label class="sr-only" for="subContractorText">
        Nombre subcontratista
      </label>
      <input type="text" class="form-control"
        id="subContractorText"
        name="subContractorText"
        placeholder="Nombre subcontratista"
        data-ng-model="custody.custody.subcontratista"
        >
    </div>
  </div>
  -->


  <br>
  <button type="submit" class="btn btn-primary"
    value="Guardar" title="Guardar"
    data-ng-click="custody.validateCustodyForm()"
    >
    Guardar</button>
</form>

          </div>
          <sislab-footer></sislab-footer>
        </div><!-- view-container -->
      </div><!-- row -->
    </div><!-- container -->
    <sislab-banner-bottom></sislab-banner-bottom>
