    <sislab-menu></sislab-menu>
    <sislab-banner></sislab-banner>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 main item-themed-z2">
          <div class="view-container">

<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Cadena de Custodia interna</h2>
  </div>
</div>
<div class="toast">
  <div class="alert alert-danger item-z2" role="alert"
    data-ng-show="custody.custody.id_status == 3">
    <i class="glyphicon glyphicon-ban-circle"></i>
    Motivo rechazo:
    <strong>
      {custody.custody.motivo_rechaza}
      <span
        data-ng-show="custody.custody.fecha_rechaza.length > 0">
          ({custody.custody.fecha_rechaza | date: 'yyyy-MM-dd'})
      </span>
    </strong>
  </div>
</div>
<div class="toast-warning">
  <div class="alert alert-warning alert-dismissible item-z2" role="alert"
    data-ng-show="custody.message.length > 0">
    <button type="button" class="close" aria-label="Cerrar"
      data-ng-click="custody.message = ''">
      <span aria-hidden="true">&times;</span>
    </button>
    <i class="glyphicon glyphicon-warning-sign"></i>
    <strong>
      {custody.message}
    </strong>
  </div>
</div>
<form class="form" role="form"
  name="custodyForm"
  data-ng-submit="custody.submitCustodyForm()"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12">
      <h4>Datos generales</h4>
    </div>
    <div class="col-xs-12">
      Fecha muestreo: <strong>{{custody.fecha_muestreo}}</strong>
      <br>
      Fecha recepción: <strong>{{custody.recepcion.fecha_recibe}}</strong>
      <br>
      Id Orden Trabajo: <strong>{{custody.id_trabajo}}</strong>
      <br>
      Matriz: <strong>{{custody.id_matriz}}</strong>
      <br>
      Muestras: <strong>{{custody.cantidad_muestras}}</strong>
      <br>
      Contenedores: <strong>{{custody.cantidad_recipientes}}</strong>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Ubicación de Muestras/Contenedores</h3>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-condensed"
            id="containerStorageList">
            <thead>
              <tr>
                <th>
                  Id Muestra
                </th>
                <th>
                  Id Recipiente
                </th>
                <th>
                  Preservación
                </th>
                <th>
                  Ubicación
                </th>
                <th>
                  Fecha
                </th>
                <th>
                  Acciones
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                data-ng-repeat="container in custody.containers"
                id="jobId{{container.id_recipiente}}">
                <td>
                  {{container.id_muestra}}
                </td>
                <td>
                  {{container.id_recipiente}}
                </td>
                <td>
                  {{container.preservacion}}
                </td>
                <td>
                  <!--
                  if FIRST_WRITE
                  <br>
                  + selectStorage +
                  + ngRepeat storage in storages +
                  <br>
                  else
                  <br>
                  + selectedStorage +
                  -->
                  <span class="label label-info"
                    data-ng-show="container.id_almacenamiento < 4">
                    {{container.almacenamiento}}
                  </span>
                  <span class="label label-default"
                    data-ng-show="container.id_almacenamiento > 3">
                    {{container.almacenamiento}}
                  </span>
                </td>
                <td>
                  {{container.fecha_actualiza | date: 'yyyy-MM-dd'}}
                </td>
                <td>
                  <button class="btn btn-default"
                    value="Consultar" title="Consultar"
                    data-ng-click="custody.viewContainerLog(container.id_recipiente)"
                    >
                    <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-xs-12">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Uso de las muestras</h3>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-condensed"
            id="sampleUseList">
            <thead>
              <tr>
                <th>
                  Id Muestra
                </th>
                <th>
                  Id Recipiente
                </th>
                <th>
                  Parámetro
                </th>
                <th>
                  Analista
                </th>
                <th>
                  Volumen
                </th>
                <th>
                  Fecha
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                data-ng-repeat="take in custody.takes"
                id="{{take.id_uso}}">
                <td>
                  {{take.id_muestra}}
                </td>
                <td>
                  {{take.id_recipiente}}
                </td>
                <td>
                  Param
                  {{take.parametro.param}}
                </td>
                <td>
                  Usr
                  {{take.id_analista}}
                  <br>
                  {{take.analista.nombres}}
                  <br>
                  {{take.analista.apellido_paterno}}
                  {{take.analista.apellido_materno}}
                </td>
                <td>
                  <input
                    type="text">
                    -- volumen --
                </td>
                <td>
                  {{take.fecha | date: 'yyyy-MM-dd'}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <br>
      <a class="btn btn-success"
        value="Agregar entrada" title="Agregar entrada"
        data-ng-click="custody.addTake()"
        >
        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
        Agregar entrada
      </a>
      <br><br>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h4>Disposición Final</h4>
    </div>
  </div>
  -->
  <div class="row">
    <div class="col-xs-12">
      <h4>Comentarios</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <textarea rows="3" class="form-control well well-sm"
        id="custodyCommentsText"
        name="custodyCommentsText"
        data-ng-model="custody.custody.comentarios"
        >
      </textarea>
    </div>
  </div>
  <div class="row"
    data-ng-show="custody.user.level < 3">
    <div class="col-xs-12">
      <h4>Validación</h4>
    </div>
    <div class="col-xs-12 col-sm-5 well wel-sm ">
      <button class="btn btn-success"
        value="Validar" title="Validar"
        data-ng-disabled="custody.custody.id_status == 2"
        data-ng-click="custody.approveItem()"
        >
        <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
        Validar
      </button>
      <button class="btn btn-danger"
        value="Rechazar" title="Rechazar"
        data-ng-disabled="custody.custody.id_status == 3"
        data-ng-click="custody.rejectItem()"
        >
        <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
        Rechazar
      </button>
    </div>
    <div class="col-xs-12 col-sm-7 well wel-sm ">
      <label class="sr-only" for="rejectText">
        Motivo rechazo
      </label>
      <input type="text" class="form-control"
        id="rejectText"
        name="rejectText"
        placeholder="Especifique motivo rechazo"
        data-ng-disabled="custody.custody.id_status != 3"
        data-ng-model="custody.custody.motivo_rechaza"
        >
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary"
    value="Guardar" title="Guardar"
    data-ng-click="custody.submitForm()"
    >
    <i class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></i>
    Guardar
  </button>
</form>

          </div>
          <sislab-footer></sislab-footer>
        </div><!-- view-container -->
      </div><!-- row -->
    </div><!-- container -->
    <sislab-banner-bottom></sislab-banner-bottom>
