    <sislab-menu></sislab-menu>
    <sislab-banner></sislab-banner>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 main item-themed-z2">
          <div class="view-container">

<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Cadenas de custodia</h2>
  </div>
</div>
<form class="form" role="form"
  name="custodiesForm"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12">
      <h4>Búsqueda</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <label for="custodySearch" class="sr-only">
        Ingrese una búsqueda (Recepción, Fecha, Calle, etc.)
      </label>
      <input type="text"
        class="form-control"
        placeholder="Ingrese una búsqueda (Recepción, Fecha, Calle, etc.)"
        id="custodySearch"
        name="custodySearch"
        data-ng-model="custodies.filter.$">
    </div>
    <br>
  </div>
</form>
<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Hojas</h3>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-condensed"
          id="custodiesList">
          <thead>
            <tr>
              <th>Id Informe</th>
              <th>Id Custodia</th>
              <th>Status</th>
              <th>Fecha Ini.</th>
              <th>Fecha Fin</th>
            </tr>
          </thead>
          <tbody>
            <tr
              data-ng-repeat="item in custodies.custodies
              | filter:custodies.filter.$"
              id="custodyId{{item.id_custodia}}"
              data-ng-click="custodies.selectRow($event)">
              <td>
                {{item.id_estudio}}
              </td>
              <td>
                {{item.id_custodia}}
              </td>
              <td>
                <span class="label label-success"
                  data-ng-show="item.id_status == 2">Validado</span>
                <span class="label label-default"
                  data-ng-show="item.id_status < 2">Sin Validar</span>
                <span class="label label-danger"
                  data-ng-show="item.fecha_captura.length < 1">
                  Falta info.
                </span>
              </td>
              <td>
                {{item.fecha_inicio | date: 'yyyy-MM-dd'}}
              </td>
              <td>
                {{item.fecha_fin | date: 'yyyy-MM-dd'}}
              </td>
              <td>
                <button class="btn btn-default"
                  value="Consultar" title="Consultar"
                  data-ng-click="receptions.viewCustody(item.id_custodia)"
                  >
                  <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

          </div>
          <sislab-footer></sislab-footer>
        </div><!-- view-container -->
      </div><!-- row -->
    </div><!-- container -->
    <sislab-banner-bottom></sislab-banner-bottom>
