    <sislab-menu></sislab-menu>
    <sislab-banner></sislab-banner>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 main item-themed-z2">
          <div class="view-container">

<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Hojas de campo</h2>
  </div>
</div>
<form class="form" role="form"
  name="clientsForm"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12">
      <h4>Búsqueda</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <label for="sheetSearch" class="sr-only">
        Ingrese una búsqueda (Calle, Número, etc.)
      </label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="glyphicon glyphicon-search"></i>
        </div>
        <input type="text"
          class="form-control"
          placeholder="Ingrese una búsqueda (Calle, Número, etc.)"
          id="sheetSearch"
          name="sheetSearch"
          data-ng-model="sheets.filter.$">
      </div>
      <br>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Hojas</h3>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-condensed"
          id="sheetsList">
          <thead>
            <tr>
              <th>Id Hoja</th>
              <th>Id Plan</th>
              <th>Status</th>
              <th>Ubicación</th>
              <th>Fecha Inicio-Fin</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr
              data-ng-repeat="item in sheets.sheets
              | filter:sheets.filter.$"
              id="sheetId{{item.id_hoja}}"
              data-ng-click="sheets.selectRow($event)">
              <td>
                {{item.id_hoja}}
              </td>
              <td>
                {{item.id_plan}}
              </td>
              <td>
                <span class="label label-success"
                  data-ng-show="item.id_status == 2">Validado</span>
                <span class="label label-default"
                  data-ng-show="item.id_status < 2">Sin Validar</span>
                <span class="label label-danger"
                  data-ng-show="item.fecha_captura.length < 1">
                  Falta info.
                </span>
              </td>
              <td>
                {{item.calle}}
                {{item.numero}},
                {{item.municipio}}
              </td>
              <td>
                Inicio {{item.fecha_inicio}}
                <br>
                Fin {{item.fecha_fin}}
              </td>
              <td>
                <button class="btn btn-default"
                  value="Consultar" title="Consultar"
                  data-ng-click="sheets.viewFieldSheet(item.id_hoja)"
                  >
                  <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

          </div>
          <sislab-footer></sislab-footer>
        </div><!-- view-container -->
      </div><!-- row -->
    </div><!-- container -->
    <sislab-banner-bottom></sislab-banner-bottom>
