    <sislab-menu></sislab-menu>
    <sislab-banner></sislab-banner>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 main item-themed-z2">
          <div class="view-container">

<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Hoja de campo</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-danger item-z1" role="alert"
      data-ng-show="plan.plan.id_status == 3">
      <i class="glyphicon glyphicon-warning-sign"></i>
      Motivo rechazo:
      <strong>
        {{plan.plan.motivo_rechaza}}
        <span
          data-ng-show="plan.plan.fecha_rechaza.length > 0">
          ({{plan.plan.fecha_rechaza || date}})
        </span>
      </strong>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-warning alert-dismissible item-z1" role="alert"
      data-ng-show="plan.message.length > 0">
      <button type="button" class="close" aria-label="Cerrar"
        data-ng-click="plan.message = ''">
        <span aria-hidden="true">&times;</span>
      </button>
      <i class="glyphicon glyphicon-warning-sign"></i>
      <strong>
        {{plan.message}}
      </strong>
    </div>
  </div>
</div>
<form class="form" role="form"
  name="fieldSheetForm"
  data-ng-submit="fieldSheet.submitFieldSheetForm()"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12">
      <h4>Datos de Referencia</h4>
      <div class="well well-sm">
        <ul class="list-inline">
          <li>
            Folio:
            {{fieldSheet.fieldSheet.folio}}
            /
            {{fieldSheet.fieldSheet.ejercicio}}</li>
          <li data-ng-show="fieldSheet.fieldSheet.fecha_captura.length > 0">
            Fecha captura:
            {{fieldSheet.fieldSheet.fecha_captura}}</li>
          <li data-ng-show="fieldSheet.fieldSheet.fecha_valida.length > 0">
            Fecha validación:
            {{fieldSheet.fieldSheet.fecha_valida}}</li>
          <li data-ng-show="fieldSheet.fieldSheet.fecha_acepta.length > 0">
            Fecha aceptacion cliente:
            {{fieldSheet.fieldSheet.fecha_acepta}}</li>
          <li data-ng-show="fieldSheet.fieldSheet.fecha_actualizacion.length > 0">
            Fecha actualización:
            {{fieldSheet.fieldSheet.fecha_actualizacion}}</li>
        </ul>
        <span class="label label-success"
          data-ng-show="fieldSheet.fieldSheet.validado > 0">Validado</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h4>Cliente</h4>
      <div class="well well-sm">
        Cliente: {{fieldSheet.fieldSheet.cliente.cliente}}
        {{fieldSheet.fieldSheet.cliente.area.length > 0 &&
        ' - ' + fieldSheet.fieldSheet.cliente.area ||
        ''}}
        <br>
        Contacto: {{fieldSheet.fieldSheet.cliente.contacto}}
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h4>Orden de muestreo</h4>
      <div class="well well-sm">
        Folio:
        {{fieldSheet.fieldSheet.orden.folio}}
        /
        {{fieldSheet.fieldSheet.orden.ejercicio}}
        <br>Fecha:
        {{fieldSheet.fieldSheet.orden.fecha_orden}}
        <br>Responsable muestreo:
        {{fieldSheet.fieldSheet.orden.responsable_muestreo.nombres}}
        {{fieldSheet.fieldSheet.orden.responsable_muestreo.ap}}
        {{fieldSheet.fieldSheet.orden.responsable_muestreo.am}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Condiciones ambientales</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="cloudCoverSelect">
        Cobertura de nubes
      </label>
      <select class="form-control"
        id="cloudCoverSelect"
        name="cloudCoverSelect"
        required
        data-ng-model="fieldSheet.fieldSheet.id_cobertura_nubes"
        data-ng-change="fieldSheet.selectCloudCover()"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option data-ng-repeat="cloudCover in fieldSheet.cloudCovers"
          value="{{cloudCover.id_cobertura_nubes}}">
          {{cloudCover.cobertura_nubes}}
        </option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
      <label for="cloudCoverText">
        En caso de otra, especificar
      </label>
      <input type="text" class="form-control"
        id="cloudCoverText"
        name="cloudCoverText"
        placeholder="Cobertura nubes"
        data-ng-model="fieldSheet.fieldSheet.cobertura_nubes_otra"
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="windDirectionSelect">
        Dirección del viento
      </label>
      <select class="form-control"
        id="windDirectionSelect"
        name="windDirectionSelect"
        required
        data-ng-model="fieldSheet.fieldSheet.id_direccion_viento"
        data-ng-change="fieldSheet.selectWindDirection()"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option data-ng-repeat="windDirection in fieldSheet.windDirections"
          value="{{windDirection.id_direccion_viento}}">
          {{windDirection.direccion_viento}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="waveIntensitySelect">
        Intensidad del oleaje
      </label>
      <select class="form-control"
        id="waveIntensitySelect"
        name="waveIntensitySelect"
        required
        data-ng-model="fieldSheet.fieldSheet.id_oleaje"
        data-ng-change="fieldSheet.selectWaveIntensity()"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option data-ng-repeat="waveIntensity in fieldSheet.waveIntensities"
          value="{{waveIntensity.id_oleaje}}">
          {{waveIntensity.oleaje}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Referencia del muestreo</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="samplingNormSelect">
        Norma referencia muestreo
      </label>
      <select class="form-control"
        id="samplingNormSelect"
        name="samplingNormSelect"
        required
        data-ng-model="fieldSheet.fieldSheet.id_metodo_muestreo"
        data-ng-change="fieldSheet.selectSamplingNorm()"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option data-ng-repeat="samplingNorm in fieldSheet.samplingNorms"
          value="{{samplingNorm.id_metodo_muestreo}}">
          {{samplingNorm.metodo_muestreo}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Inicio / Término de muestreo</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="fieldSheetStartDate">Fecha Inicio</label>
      <input type="text"
        class="form-control"
        placeholder="aaaa-mm-dd"
        id="fieldSheetStartDate"
        name="fieldSheetStartDate"
        required
        data-ng-model="fieldSheet.fieldSheet.fecha_inicio"
        >
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="fieldSheetStartTime">Hora Inicio</label>
      <input type="text"
        class="form-control"
        placeholder="HH:mm:ss"
        id="fieldSheetStartTime"
        name="fieldSheetStartTime"
        required
        data-ng-model="fieldSheet.fieldSheet.hora_inicio"
        >
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="fieldSheetEndDate">Fecha Término</label>
      <input type="text"
        class="form-control"
        placeholder="aaaa-mm-dd"
        id="fieldSheetEndDate"
        name="fieldSheetEndDate"
        required
        data-ng-model="plan_fecha_fin"
        >
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="fieldSheetEndTime">Hora Término</label>
      <input type="text"
        class="form-control"
        placeholder="HH:mm:ss"
        id="fieldSheetEndTime"
        name="fieldSheetEndTime"
        required
        data-ng-model="fieldSheet.fieldSheet.hora_fin"
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
      <label for="pointSelect">
        Punto muestreo
      </label>
      <select class="form-control"
        id="pointSelect"
        name="pointSelect"
        required
        data-ng-model="fieldSheeet.fieldSheet.id_punto_muestreo"
        data-ng-change="fieldSheet.selectPoint()"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option
          data-ng-repeat="point in fieldSheet.points"
          value="{{point.id_punto_muestreo}}">
          {{point.punto_muestreo}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="well well-sm">
        Punto: {{fieldSheet.fieldSheet.punto_muestreo.punto_muestreo}}
        <br>
        Localidad: {{fieldSheet.fieldSheet.punto_muestreo.localidad}}
        Municipio: {{fieldSheet.fieldSheet.punto_muestreo.municipio}}
        <br>
        Latitud: {{fieldSheet.fieldSheet.punto_muestreo.lat}}
        Longitud: {{fieldSheet.fieldSheet.punto_muestreo.lng}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Resultados Campo</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-4"
      data-ng-repeat="fieldParameter in fieldSheet.fieldParameters">
      <label for="{{fieldParameter.param}}Text">
        {{fieldParameter.parametro}}
      </label>
      <input type="text"
        class="form-control"
        placeholder="Escriba un valor"
        id="{{fieldParameter.param}}Text"
        name="{{fieldParameter.param}}Text"
        data-ng-model="fieldParameter.valor"
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h6>Temperatura ambiente</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-3">
      <label for="param4">Temp. ambiente 1</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="tempAmb1"
        name="tempAmb1"
        data-ng-model="fieldSheet.tempAmb1"
        >
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3">
      <label for="param5">Temp. ambiente 2</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="tempAmb2"
        name="tempAmb2"
        data-ng-model="fieldSheet.tempAmb2"
        >
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3">
      <label for="param5">Temp. ambiente 3</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="tempAmb3"
        name="tempAmb3"
        data-ng-model="fieldSheet.tempAmb3"
        >
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3">
      <label for="param6">Temp. ambiente</label>
      <input type="text"
        class="form-control"
        placeholder="{{fieldSheet.tempAmbAvg()}}"
        id="tempAmb"
        name="tempAmb"
        readonly="readonly"
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h6>Temperatura</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-3">
      <label for="param4">Temp. 1</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="temp1"
        name="temp1"
        data-ng-model="fieldSheet.temp1"
        >
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3">
      <label for="param5">Temp. 2</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="temp2"
        name="temp2"
        data-ng-model="fieldSheet.temp2"
        >
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3">
      <label for="param5">Temp. 3</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="temp3"
        name="temp3"
        data-ng-model="fieldSheet.temp3"
        >
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3">
      <label for="param6">Temp. promedio</label>
      <input type="text"
        class="form-control"
        placeholder="{{fieldSheet.tempAvg()}}"
        id="temp"
        name="temp"
        readonly="readonly"
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h6>Potencial hidrógeno</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-3">
      <label for="param4">pH 1</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="ph1"
        name="ph1"
        data-ng-model="fieldSheet.ph1"
        >
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3">
      <label for="param5">pH 2</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="ph2"
        name="ph2"
        data-ng-model="fieldSheet.ph2"
        >
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3">
      <label for="param5">pH 3</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="ph3"
        name="ph3"
        data-ng-model="fieldSheet.ph3"
        >
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3">
      <label for="param6">pH promedio</label>
      <input type="text"
        class="form-control"
        placeholder="{{fieldSheet.phAvg()}}"
        id="ph"
        name="ph"
        readonly="readonly"
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h6>Conductividad</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-3">
      <label for="param4">Cond. 1</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="cond1"
        name="cond1"
        data-ng-model="fieldSheet.cond1"
        >
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3">
      <label for="param5">Cond. 2</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="cond2"
        name="cond2"
        data-ng-model="fieldSheet.cond2"
        >
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3">
      <label for="param5">Cond. 3</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="cond3"
        name="cond3"
        data-ng-model="fieldSheet.cond3"
        >
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3">
      <label for="param6">Cond. promedio</label>
      <input type="text"
        class="form-control"
        placeholder="{{fieldSheet.condAvg()}}"
        id="cond"
        name="cond"
        readonly="readonly"
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h6>Oxígeno disuelto</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-3">
      <label for="param4">O.D. 1</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="od1"
        name="od1"
        data-ng-model="fieldSheet.od1"
        >
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3">
      <label for="param5">O.D. 2</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="od2"
        name="od2"
        data-ng-model="fieldSheet.od2"
        >
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3">
      <label for="param5">O.D. 3</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="od3"
        name="od3"
        data-ng-model="fieldSheet.od3"
        >
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3">
      <label for="param6">O.D. promedio</label>
      <input type="text"
        class="form-control"
        placeholder="{{fieldSheet.odAvg()}}"
        id="od"
        name="od"
        readonly="readonly"
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h6>Cloro residual</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-3">
      <label for="param4">Cl residual 1</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="cr1"
        name="cr1"
        data-ng-model="fieldSheet.cr1"
        >
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3">
      <label for="param5">Cl residual 2</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="cr2"
        name="cr2"
        data-ng-model="fieldSheet.cr2"
        >
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3">
      <label for="param5">Cl residual 3</label>
      <input type="text"
        class="form-control"
        placeholder="0.0"
        id="cr3"
        name="cr3"
        data-ng-model="fieldSheet.cr3"
        >
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3">
      <label for="param6">Cl residual</label>
      <input type="text"
        class="form-control"
        placeholder="{{fieldSheet.crAvg()}}"
        id="cr"
        name="cr"
        readonly="readonly"
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Preservación</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6"
      data-ng-repeat="preservation in fieldSheet.preservations">
      <label>
        <input type="checkbox"
          value="{{preservation.selected}}">
          {{preservation.preservacion}}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Comentarios</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <textarea rows="3" class="form-control well well-sm item-z1"
        id="fieldSheetCommentsText"
        name="fieldSheetCommentsText"
        data-ng-model="fieldSheet.fieldSheet.comentarios"
        >
      </textarea>
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary"
    value="Guardar" title="Guardar"
    data-ng-click="fieldSheet.validateForm()"
    >
    Guardar
    </button>
</form>

          </div>
          <sislab-footer></sislab-footer>
        </div><!-- view-container -->
      </div><!-- row -->
    </div><!-- container -->
    <sislab-banner-bottom></sislab-banner-bottom>
