<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Recepción de muestras</h2>
  </div>
</div>
<form class="form" role="form"
  name="receptionForm"
  data-ng-submit="reception.submitReceptionForm()"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12">
      <h4>Muestreo</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="samplingDate">Fecha muestreo</label>
      <input type="date"
        class="form-control"
        placeholder="aaaa-mm-dd"
        id="samplingDate"
        name="samplingDate"
        required
        data-ng-model="reception.reception.fecha_muestreo"
        >
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="samplingTime">Hora muestreo</label>
      <input type="time"
        class="form-control"
        placeholder="HH:mm:ss"
        id="samplingTime"
        name="samplingTime"
        required
        data-ng-model="reception.reception.hora_muestreo"
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Recepción</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="receptionDate">Fecha recepción</label>
      <input type="date"
        class="form-control"
        placeholder="aaaa-mm-dd"
        id="receptionDate"
        name="receptionDate"
        required
        data-ng-model="reception.reception.fecha_recepcion"
        >
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="receptionTime">Hora recepción</label>
      <input type="time"
        class="form-control"
        placeholder="HH:mm:ss"
        id="receptionTime"
        name="receptionTime"
        required
        data-ng-model="reception.reception.hora_recepcion"
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="receptionistSelect" class="sr-only">
        Recepcionista
      </label>
      <select class="form-control"
        id="receptionistSelect"
        name="receptionistSelect"
        required
        data-ng-model="reception.reception.id_recepcionista"
        data-ng-change="reception.selectRecepcionist()"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option
          data-ng-repeat="receptionist in reception.receptionists"
          value="{{receptionist.id_recepcionista}}">
          {{receptionist.nombre}}
        </option>
      </select>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="matrixSelect" class="sr-only">
        Tipo de Matriz
      </label>
      <select class="form-control"
        id="matrixSelect"
        name="matrixSelect"
        required
        data-ng-model="reception.reception.id_matriz"
        data-ng-change="reception.selectMatrix()"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option data-ng-repeat="matrix in reception.matrices"
          value="{{matrix.id_matriz}}">
          {{matrix.matriz}}
        </option>
      </select>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
      <label class="sr-only" for="matrixText">
        En caso de otra, especificar
      </label>
      <input type="text" class="form-control"
        id="matrixText"
        name="matrixText"
        placeholder="En caso de otra, especificar"
        data-ng-model="reception.reception.matriz_otra"
        >
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
      <label class="sr-only" for="sampleKeyText">
        Descripción de la muestra
      </label>
      <input type="text" class="form-control"
        id="sampleKeyText"
        name="sampleKeyText"
        placeholder="Descripción de la muestra"
        data-ng-model="reception.reception.descripcion"
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
      <label class="sr-only" for="samplePointText">
        Punto de muestreo
      </label>
      <input type="text" class="form-control"
        id="samplePointText"
        name="samplePointText"
        placeholder="Punto de muestreo"
        data-ng-model="reception.reception.punto_muestreo"
        >
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <h4>Áreas receptoras</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label>
        <input type="checkbox"
         value="{{reception.areas.fq.selected}}">
         Fisicoquímico
      </label>
    </div>
    <div class="col-xs-12">
      <label>
        <input type="checkbox"
          value="{{reception.areas.mp.selected}}">
          Metales Pesados
      </label>
    </div>
    <div class="col-xs-12">
      <label>
        <input type="checkbox"
          value="{{reception.areas.mb.selected}}">
          Microbiología
      </label>
    </div>
  </div>


  <br>
  <button type="submit" class="btn btn-primary"
    value="Guardar" title="Guardar"
    data-ng-click="reception.validateReceptionForm()"
    >
    Guardar</button>
</form>