    <sislab-menu></sislab-menu>
    <sislab-banner></sislab-banner>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 main item-themed-z2">
          <div class="view-container">

<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Recepción de muestras</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-danger item-z1" role="alert"
      data-ng-show="reception.reception.id_status == 3">
      <i class="glyphicon glyphicon-warning-sign"></i>
      Motivo rechazo:
      <strong>
        {{reception.reception.motivo_rechaza}}
        <span
          data-ng-show="reception.reception.fecha_rechaza.length > 0">
          ({{reception.reception.fecha_rechaza || date}})
        </span>
      </strong>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="alert alert-warning alert-dismissible item-z1" role="alert"
      data-ng-show="reception.message.length > 0">
      <button type="button" class="close" aria-label="Cerrar"
        data-ng-click="reception.message = ''">
        <span aria-hidden="true">&times;</span>
      </button>
      <i class="glyphicon glyphicon-warning-sign"></i>
      <strong>
        {{reception.message}}
      </strong>
    </div>
  </div>
</div>
<form class="form" role="form"
  name="receptionForm"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12" data-bs-collapse>
      <h4 data-bs-collapse-toggle>
        <a class="btn btn-default">
          <i class="glyphicon glyphicon-chevron-down"
            aria-hidden="true"></i>
        </a>
        Datos de Referencia
      </h4>
      <div class="row well well-sm item-z1"
        data-bs-collapse-target
        >
        <div class="col-xs-12 col-sm-6">
          <h6>Recepción Muestras</h6>
        </div>
        <div class="col-xs-12 col-sm-6">

          <div class="row">
            <div class="col-xs-12">
              <h4>Datos de Referencia [hoja, plan] </h4>
              <div class="well well-sm">
                <ul class="list-inline">
                  <li>
                    Folio:
                    {{::reception.reception.folio}}
                    /
                    {{::reception.reception.ejercicio}}</li>
                  <li data-ng-show="reception.reception.fecha_captura.length > 0">
                    Fecha captura:
                    {{::reception.reception.fecha_captura}}</li>
                  <li data-ng-show="reception.reception.fecha_valida.length > 0">
                    Fecha validación:
                    {{::reception.reception.fecha_valida}}</li>
                  <li data-ng-show="reception.reception.fecha_actualizacion.length > 0">
                    Fecha actualización:
                    {{::reception.reception.fecha_actualizacion}}</li>
                </ul>
                <span class="label label-success"
                  data-ng-show="reception.reception.validado > 0">Validado</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <h4>Cliente</h4>
              <div class="well well-sm">
                Cliente: {{reception.reception.cliente.cliente}}
                {{reception.reception.cliente.area.length > 0 &&
                ' - ' + reception.reception.cliente.area ||
                ''}}
                <br>
                Contacto: {{reception.reception.cliente.contacto}}
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <h4>Orden de muestreo</h4>
              <div class="well well-sm">
                Folio:
                {{reception.reception.orden.folio}}
                /
                {{reception.reception.orden.ejercicio}}
                <br>Fecha:
                {{reception.reception.orden.fecha_orden}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <h4>Punto de muestreo</h4>
              <div class="well well-sm">
                Punto: {{reception.reception.punto_muestreo.punto_muestreo}}
                <br>
                Localidad: {{reception.reception.punto_muestreo.localidad}}
                Municipio: {{reception.reception.punto_muestreo.municipio}}
                <br>
                Latitud: {{reception.reception.punto_muestreo.lat}}
                Longitud: {{reception.reception.punto_muestreo.lng}}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Muestra</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="sampleNumber">Número muestra</label>
      <input type="text"
        class="form-control"
        placeholder=""
        id="sampleNumber"
        name="sampleNumber"
        required
        data-ng-model="reception.muestra.folio"
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Muestreo</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <label for="samplingDate">
        <i class="glyphicon glyphicon-calendar"></i>
        Fecha
      </label>
      <input type="text"
        class="form-control"
        id="samplingDate"
        name="samplingDate"
        placeholder="aaaa-mm-dd"
        required
        data-ng-model="reception.reception.fecha_muestreo"
        data-date-format="yyyy-MM-dd"
        data-date-type="date"
        data-autoclose="1"
        date-use-native="true"
        data-bs-datepicker
        >
    </div>
    <div class="col-xs-6 col-sm-2">
      <label for="samplingTime">
        <i class="glyphicon glyphicon-time"></i>
        Hora
      </label>
      <input type="text"
        class="form-control"
        id="samplingTime"
        name="samplingTime"
        placeholder="HH:mm"
        required
        data-ng-model="reception.reception.fecha_muestreo"
        data-time-format="HH:mm"
        data-date-type="date"
        data-length="1"
        data-hour-step="1"
        data-minute-step="1"
        data-arrow-behavior="picker"
        data-auto-close="1"
        data-bs-timepicker
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Recepción</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <label for="receptionDate">
        <i class="glyphicon glyphicon-calendar"></i>
        Fecha
      </label>
      <input type="text"
        class="form-control"
        id="receptionDate"
        name="receptionDate"
        placeholder="aaaa-mm-dd"
        required
        data-ng-model="reception.reception.fecha_recepcion"
        data-date-format="yyyy-MM-dd"
        data-date-type="date"
        data-autoclose="1"
        date-use-native="true"
        data-bs-datepicker
        >
    </div>
    <div class="col-xs-6 col-sm-2">
      <label for="receptionTime">
        <i class="glyphicon glyphicon-time"></i>
        Hora
      </label>
      <input type="text"
        class="form-control"
        id="receptionTime"
        name="receptionTime"
        placeholder="HH:mm"
        required
        data-ng-model="reception.reception.fecha_recepcion"
        data-time-format="HH:mm"
        data-date-type="date"
        data-length="1"
        data-hour-step="1"
        data-minute-step="1"
        data-arrow-behavior="picker"
        data-auto-close="1"
        data-bs-timepicker
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="receptionistSelect">
        Responsable recepción
      </label>
      <select class="form-control"
        id="receptionistSelect"
        name="receptionistSelect"
        required
        data-ng-model="reception.reception.id_recepcionista"
        >
        <option
          data-ng-repeat="receptionist in reception.receptionists"
          value="{{receptionist.id_empleado}}">
          {{receptionist.nombres}}
          {{receptionist.ap}}
          {{receptionist.am}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label for="sampleDescriptionText">
        Descripción de la muestra
      </label>
      <textarea rows="2" class="form-control well well-sm"
        id="sampleDescriptionText"
        name="sampleDescriptionText"
        data-ng-model="reception.reception.descripcion"
        >
      </textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Verificación</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Preservación</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4"
      data-ng-repeat="preservation in custody.preservations">
      <label>
        <input type="checkbox"
          value="{{preservation.selected}}">
          {{preservation.clase_parametro}}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Vigencia</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4"
      data-ng-repeat="expiration in custody.expirations">
      <label>
        <input type="checkbox"
          value="{{expiration.selected}}">
          {{expiration.clase_parametro}}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Volúmenes requeridos</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4"
      data-ng-repeat="volume in custody.volumes">
      <label>
        <input type="checkbox"
          value="{{volume.selected}}">
          {{volume.clase_parametro}}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Recipientes adecuados</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4"
      data-ng-repeat="container in custody.containers">
      <label>
        <input type="checkbox"
          value="{{container.selected}}">
          {{container.clase_parametro}}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="checkerSelect">
        Responsable verificación
      </label>
      <select class="form-control"
        id="checkerSelect"
        name="checkerSelect"
        required
        data-ng-model="custody.custody.id_responsable_verificacion"
        >
        <option data-ng-repeat="checker in custody.checkers"
          value="{{checker.id_empleado}}">
          {{checker.nombres}}
          {{checker.ap}}
          {{checker.am}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <label for="verifyDate">
        <i class="glyphicon glyphicon-calendar"></i>
        Fecha verificación
      </label>
      <input type="text"
        class="form-control"
        id="verifyDate"
        name="verifyDate"
        placeholder="aaaa-mm-dd"
        required
        data-ng-model="reception.reception.fecha_verificacion"
        data-date-format="yyyy-MM-dd"
        data-date-type="date"
        data-autoclose="1"
        date-use-native="true"
        data-bs-datepicker
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label for="sampleCommentsText">
        Comentarios
      </label>
      <textarea rows="2" class="form-control well well-sm"
        id="sampleCommentsText"
        name="sampleCommentsText"
        data-ng-model="reception.reception.comentarios"
        >
      </textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Áreas receptoras</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12"
      data-ng-repeat="area in reception.reception.areas_seleccionadas">
      <label>
        <input type="checkbox"
          data-ng-model="area.selected"
          name="{{area.area}}" />
        {{area.area}}
      </label>
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary"
    value="Guardar" title="Guardar"
    data-ng-click="reception.submitForm()"
    >
    Guardar
  </button>
</form>

          </div>
          <sislab-footer></sislab-footer>
        </div><!-- view-container -->
      </div><!-- row -->
    </div><!-- container -->
    <sislab-banner-bottom></sislab-banner-bottom>
