<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Orden de trabajo</h2>
  </div>
</div>
<form class="form" role="form"
  name="orderForm"
  data-ng-submit="taskAssign.submitTaskAssignForm()"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12">
      <h4>Datos de Referencia</h4>
      <div class="well well-sm">
        <ul class="list-inline">
          <li>
            Folio:
            {{taskAssign.taskAssign.folio}}
            /
            {{taskAssign.taskAssign.ejercicio}}</li>
          <li data-ng-show="taskAssign.taskAssign.fecha_captura.length > 0">
            Fecha captura:
            {{taskAssign.taskAssign.fecha_captura}}</li>
          <li data-ng-show="taskAssign.taskAssign.fecha_valida.length > 0">
            Fecha validación:
            {{taskAssign.taskAssign.fecha_valida}}</li>
          <li data-ng-show="taskAssign.taskAssign.fecha_actualizacion.length > 0">
            Fecha actualización:
            {{taskAssign.taskAssign.fecha_actualizacion}}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h4>Plan de muestreo</h4>
      <div class="well well-sm">
        Folio:
        {{taskAssign.taskAssign.plan_muestreo.folio}}
        /
        {{taskAssign.taskAssign.plan_muestreo.ejercicio}}
        <br>Fecha:
        {{taskAssign.taskAssign.plan_muestreo.fecha_muestreo}}
        <br>Responsable muestreo:
        {{taskAssign.taskAssign.plan_muestreo.responsable_muestreo.nombres}}
        {{taskAssign.taskAssign.plan_muestreo.responsable_muestreo.ap}}
        {{taskAssign.taskAssign.plan_muestreo.responsable_muestreo.am}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Datos del muestreo</h4>
      <div class="well well-sm">
        Municipio:
        {{taskAssign.taskAssign.recepcion.municipio}}<br>
        Localidad:
        {{taskAssign.taskAssign.recepcion.localidad}}<br>
        Fecha muestreo:
        {{taskAssign.taskAssign.recepcion.fecha_muestreo}}
        Tipo muestreo:
        {{taskAssign.taskAssign.recepcion.tipo_muestreo}}<br>
        Matriz:
        {{taskAssign.taskAssign.recepcion.matriz}}
        Norma:
        {{taskAssign.taskAssign.recepcion.norma}}<br>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Asignar responsables análisis</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Físicoquimico</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="chemicalSupervisorSelect">
        Responsable físicoquimico
      </label>
      <select class="form-control"
        id="chemicalSupervisorSelect"
        name="chemicalSupervisorSelect"
        required
        data-ng-model="taskAssign.taskAssign.id_responsable_fq"
        data-ng-change="taskAssign.selectChemicalSupervisor()"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option data-ng-repeat="chemicalSupervisor in taskAssign.chemicalSupervisors"
          value="{{chemicalSupervisor.id_empledo}}">
          {{chemicalSupervisor.nombres}}
          {{chemicalSupervisor.ap}}
          {{chemicalSupervisor.am}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Metales pesados</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="metalSupervisorSelect">
        Responsable metales pesados
      </label>
      <select class="form-control"
        id="metalSupervisorSelect"
        name="metalSupervisorSelect"
        required
        data-ng-model="taskAssign.taskAssign.id_responsable_mp"
        data-ng-change="taskAssign.selectMetalSupervisor()"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option data-ng-repeat="metalSupervisor in taskAssign.metalSupervisors"
          value="{{metalSupervisor.id_empledo}}">
          {{metalSupervisor.nombres}}
          {{metalSupervisor.ap}}
          {{metalSupervisor.am}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h5>Microbiológicos</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="supervisorBioSelect">
        Responsable microbiológicos
      </label>
      <select class="form-control"
        id="supervisorBioSelect"
        name="supervisorBioSelect"
        required
        data-ng-model="taskAssign.taskAssign.id_responsable_mb"
        data-ng-change="taskAssign.selectSupervisorBio()"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option data-ng-repeat="supervisorBio in taskAssign.supervisorBios"
          value="{{supervisorBio.id_empledo}}">
          {{supervisorBio.nombres}}
          {{supervisorBio.ap}}
          {{supervisorBio.am}}
        </option>
      </select>
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary"
    value="Guardar" title="Guardar"
    data-ng-click="taskAssign.validateTaskAssignForm()"
    >
    Guardar</button>
</form>