    <siclab-menu></siclab-menu>
    <siclab-banner></siclab-banner>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 main item-themed-z2">
          <div class="view-container">

<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Registro de resultados de análisis</h2>
  </div>
</div>
<form class="form" role="form"
  name="analysisForm"
  data-ng-submit="analysis.submitAnalysisForm()"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12">
      <h4>Registro de resultados</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="areaSelect">
        Área
      </label>
      <select class="form-control"
        id="areaSelect"
        name="areaSelect"
        required
        data-ng-model="analysis.analysis.id_area"
        data-ng-change="analysis.selectArea()"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option data-ng-repeat="checker in analysis.areas"
          value="{{checker.id_area}}">
          {{checker.area}}
        </option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <label for="parameterSelect">
        Parámetro
      </label>
      <select class="form-control"
        id="parameterSelect"
        name="parameterSelect"
        required
        data-ng-model="analysis.analysis.id_parametro"
        data-ng-change="analysis.selectParameter()"
        >
        <option value="">
          Seleccione una opción
        </option>
        <option data-ng-repeat="parameter in analysis.parameters"
          value="{{parameter.id_parametro}}">
          {{parameter.parametro}}
        </option>
      </select>
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary"
    value="Guardar" title="Guardar"
    data-ng-click="custody.validateAnalysisForm()"
    >
    Guardar</button>
</form>

          </div>
          <siclab-footer></siclab-footer>
        </div><!-- view-container -->
      </div><!-- row -->
    </div><!-- container -->
    <siclab-banner-bottom></siclab-banner-bottom>
