    <siclab-menu></siclab-menu>
    <siclab-banner></siclab-banner>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 main item-themed-z2">
          <div class="view-container">

<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Consulta análisis</h2>
  </div>
</div>
<form class="form" role="form"
  name="custodyForm"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12">
      <h4>Búsqueda</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <label for="analysisName" class="sr-only">
        Ingrese una búsqueda (Fecha, Norma, Cliente, etc.)
      </label>
      <input type="text" class="form-control"
        placeholder="Ingrese una búsqueda (Fecha, Norma, Cliente, etc.)"
        id="analysisName"
        name="analysisName"
        data-ng-model="analysisList.filter.$">
      <br>
    </div>
  </div>
</form>
<div class="row">
  <div class="col-xs-12">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title">Análisis</h3>
      </div>
      <div class="table-responsive">
        <table class="table table-hover table-condensed"
          id="analysisList">
          <thead>
            <tr>
              <th>Id</th>
              <th>No. muestra</th>
              <th>Parámetro</th>
              <th>Norma</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr
              data-ng-repeat="item in analysisList.analysis | filter:analysisList.filter.$"
              id="analysisId{{item.id_analisis}}"
              data-ng-click="analysisList.selectRow()">
              <td>
                {{item.id_analisis}}
              </td>
              <td>
                {{item.muestra.folio}}
              </td>
              <td>
                {{item.norma.norma}}
              </td>
              <td>
                {{item.cliente.cliente}}
                <span class="text-muted"
                  data-ng-show="item.cliente.area > 0">
                  {{item.cliente.area}}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

          </div>
          <siclab-footer></siclab-footer>
        </div><!-- view-container -->
      </div><!-- row -->
    </div><!-- container -->
    <siclab-banner-bottom></siclab-banner-bottom>
