    <sislab-menu></sislab-menu>
    <sislab-banner></sislab-banner>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 main item-themed-z2">
          <div class="view-container">

<div class="row">
  <div class="col-xs-12">
    <h2 class="page-header">Perfil de usuario</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>
      {{profile.profile.nombres}}
      {{profile.profile.apellido_paterno}}
      {{profile.profile.apellido_materno}}
      <br>
      <small>
        {{profile.profile.usuario}}
      </small>
    </h4>
    <ul class="list-unstyled">
      <li>Rol:<strong>
        {{profile.profile.rol}}
        </strong>
      </li>
      <li>Ultimo acceso:<strong>
        {{profile.profile.fecha_acceso}}
        </strong>
      </li>
  </div>
</div>
<form class="form" role="form"
  name="profileForm"
  data-ng-submit="profile.submitProfileForm()"
  novalidate
  >
  <div class="row">
    <div class="col-xs-12">
      <h4>Cambiar contraseña</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="oldPassword">Actual</label>
      <input type="text"
        class="form-control"
        id="oldPassword"
        name="oldPassword"
        data-ng-model="profile.profile.password_actual"
        >
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <label for="newPassword">Nueva</label>
      <input type="text"
        class="form-control"
        id="newPassword"
        name="newPassword"
        data-ng-model="profile.profile.password"
        >
    </div>
  </div>
  <br>
  <button type="submit" class="btn btn-primary"
    value="Guardar" title="Guardar"
    data-ng-click="profile.validateProfileForm()"
    >
    Guardar</button>
</form>

          </div>
          <sislab-footer></sislab-footer>
        </div><!-- view-container -->
      </div><!-- row -->
    </div><!-- container -->
    <sislab-banner-bottom></sislab-banner-bottom>
